<html>
     <head>
          <title>Blog App</title>
          <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css"></link>
          <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"></link>
     </head>
     <body>
          <!-- using semantic ui for making a navbar -->
          <div class="ui fixed inverted menu">
               <div class="ui container">
                    <!-- header item of navbar -->
                    <div class="header item"><i class="code icon"></i> Blog Site</div>
                    <a href="/" class="item">Home</a>
                    <a href="/blogs/new" class="item">New Post</a>
               </div>
          </div>
          